/ITMXStreamITCHMME/build/
/ITMXStreamITCHMME/dist/
/ITMXStreamITCHMME/logs/
/ITMMarketInfoServerITCH/build/
/ITMMarketInfoServerITCH/dist/
/ITMJonecBridge/build/
/ITMJonecBridge/dist/
/ITMSoupBinTCPBridge/build/
/ITMSoupBinTCPBridge/dist/
/ITMSoupBinTCPBridge/logs/
/ITMDevCCDatabase/build/
/ITMDevCCDatabase/dist/
/ITMDevCCFileAccess/build/
/ITMDevCCFileAccess/dist/
/ITMDevCCFileLogger/build/
/ITMDevCCFileLogger/dist/
/ITMDevCSSocket/build/
/ITMDevCSSocket/dist/
