/ITMXStreamITCHMME/build/
/ITMXStreamITCHMME/dist/
/ITMXStreamITCHMME/logs/
/ITMXStreamITCHMME/nbproject/
/ITMXStreamITCHMME/soupbintcp_backups
/ITMXStreamOUCHMME/build/
/ITMXStreamOUCHMME/dist/
/ITMXStreamOUCHMME/logs/
/ITMXStreamOUCHMME/nbproject/
/ITMXStreamOUCHMME/soupbintcp_backups
/ITMXStreamOUCHMME/mapbackups
/ITMMarketInfoServerITCH/build/
/ITMMarketInfoServerITCH/dist/
/ITMMarketInfoServerITCH/nbproject/
/ITMTransactionServerOUCH/build/
/ITMTransactionServerOUCH/dist/
/ITMTransactionServerOUCH/nbproject/
/ITMJonecBridge/build/
/ITMJonecBridge/dist/
/ITMJonecBridge/nbproject/
/ITMSoupBinTCPBridge/build/
/ITMSoupBinTCPBridge/dist/
/ITMSoupBinTCPBridge/logs/
/ITMSoupBinTCPBridge/nbproject/
/ITMDevCCDatabase/build/
/ITMDevCCDatabase/dist/
/ITMDevCCDatabase/nbproject/
/ITMDevCCFileAccess/build/
/ITMDevCCFileAccess/dist/
/ITMDevCCFileAccess/nbproject/
/ITMDevCCFileLogger/build/
/ITMDevCCFileLogger/dist/
/ITMDevCCFileLogger/nbproject/
/ITMDevCSSocket/build/
/ITMDevCSSocket/dist/
/ITMDevCSSocket/nbproject/
*.raw
*.bat
